/* CSS reset */
/*
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*/

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    border: 1px solid black;
    max-width: 100%;
}

html {
    font-family: "Roboto Mono";
    font-size: small;
}

body {
    margin: 0;
}

header {
    margin: 2.5%;
}

.navbar a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 90px;
    color: white;
    margin-right: 15%; /* necessary to make it look okay at specific reso */
    padding: 0% 1%;
}
#nav1 {
    background-color: #FF764E;
    margin-left: 9%;
}
#nav2 {
    background-color: #5ED3EB;
}
#nav3 {
    background-color: #FFCD69;
}

.section-top img {
    position: absolute;
    width: 25%;
    border-radius: 100%;
    margin-top: 5%;
    margin-left: 5%;
}
.section-top h1,#p1,#p2 {
    text-align: center;
    width: 50%;
    margin-left: 40%;
}
.section-top h1 {
    font-family: "Chelsea Market";
    font-size: xx-large;
    margin-top: 10%;
}
.section-top #p2 {
    width: 40%;
    margin-left: 45%;
}

.section-mid {
    background-color: #DDB9A3;
    color: white;
    margin: 2.5%;
    margin-bottom: 5%;
}

.section-bot {
    font-size: x-small;
}
.section-bot img {
    width: 10%;
}
.section-bot {
    text-align: center;
}
.section-bot p {
    width: 30%;
    margin-left: 35%;
}

footer nav {
    background-color: #F9E7DC;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}
footer section {
    overflow: hidden;
    max-height: 165px;
}
footer img {
    margin-top: -5%;
    margin-bottom: -25%;
    padding-bottom: 10%;
}

/*
.navbar a {
    display: inline-block;
    font-size: small;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    width: 90px;
    margin: 0 9.25%;
    padding: 0.5%;
}

.section-top {
    display: inline-block;
}
.section-top img {
    position: absolute;
    width: 25%;
    border-radius: 100%;
}
.section-top h1, .section-top p {
    display: block;
    text-align: center;
    margin-left: 75%;
}
.section-top h1 {
    font-family: "Chelsea Market";
    font-size: xx-large;
}
.section-top p {
    font-size: small;
    margin-left: 40%;
    width: 60%;
}
.section-top #p2 {
    margin-left: 37.5%;
    width: 47.5%;
}
*/